<a href="https://colab.research.google.com/github/LVaditya/turbo-broccoli/blob/main/Phonepe_Pulse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/PhonePe/pulse.git   #cloning github repository of Phonepe pule

In [3]:
import os,json                #importing libraries, os for reading the file and pandas since we will create dataframe from extracted data
import pandas as pd
import sqlite3                #sqlite since we will use this database  system for storing our data

We have Six folders each containing 4 json files where 4 represents each quarter. Hence we will create six dataframe from each folder.

In [4]:
path0='/content/pulse/data/aggregated/transaction/country/india/state/'   #reading path to folders.

aggstate_list= os.listdir(path0)

In [77]:
clm={'State':[], 'Year':[], 'Quarter':[], 'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}
#dictionary initialized with required feilds as list to append the extracted data from the files
for i in aggstate_list:
  p_i=path0+i+"/"
  agg_yr=os.listdir(p_i)
  for j in agg_yr:      # in every folder accessing files under particular year
    p_j=p_i+j+"/"
    Agg_yr_list=os.listdir(p_j) 
    for k in Agg_yr_list:       #accessing exact file that represents data of specific quarter
      p_k=p_j+k
      Data=open(p_k,'r')
      D=json.load(Data)
      for z in D['data']['transactionData']:
        Name=z['name']
        Count=z['paymentInstruments'][0]['count']
        amount=z['paymentInstruments'][0]['amount']
        clm['Transaction_type'].append(Name)
        clm['Transaction_count'].append(Count)
        clm['Transaction_amount'].append(amount)
        clm['State'].append(i.title())
        clm['Year'].append(j)
        clm['Quarter'].append(int(k.strip('.json')))

df_data_transaction=pd.DataFrame(clm)         #converting extracted data into dataframe

In [6]:
path1='/content/pulse/data/aggregated/user/country/india/state/'
aggstate_list=os.listdir(path1)

In [75]:
clm1={'State':[], 'Year':[], 'Quarter':[], 'Brand':[], 'Count':[], 'Percent':[]}
for i in aggstate_list:
  p_i=path1+i+"/"
  agg_yr=os.listdir(p_i)
  for j in agg_yr:
    p_j=p_i+j+"/"
    agg_yr_list=os.listdir(p_j)
    for k in agg_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      D=json.load(Data)
      if D['data']['usersByDevice']:
        for z in D['data']['usersByDevice']:
          brand=z['brand']
          count=z['count']
          percent=z['percentage']
          clm1['Brand'].append(brand)
          clm1['Count'].append(count)
          clm1['Percent'].append(percent)
          clm1['State'].append(i.title())
          clm1['Year'].append(j)
          clm1['Quarter'].append(int(k.strip('.json')))

df_data_users=pd.DataFrame(clm1)

In [8]:
path2='/content/pulse/data/map/transaction/hover/country/india/state/'
aggstate_list=os.listdir(path2)

In [48]:
clm2={'State':[], 'Year':[], 'Quarter':[], 'District':[], 'Transaction_count':[], 'Transaction_amount':[]}
for i in aggstate_list:
  p_i=path2+i+"/"
  agg_yr=os.listdir(p_i)
  for j in agg_yr:
    p_j=p_i+j+"/"
    Agg_yr_list=os.listdir(p_j) 
    for k in Agg_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      D=json.load(Data)
      for z in D['data']['hoverDataList']:
        Name=z['name']
        Count=z['metric'][0]['count']
        amount=z['metric'][0]['amount']
        clm2['District'].append(Name)
        clm2['Transaction_count'].append(Count)
        clm2['Transaction_amount'].append(amount)
        clm2['State'].append(i.title())
        clm2['Year'].append(j)
        clm2['Quarter'].append(int(k.strip('.json')))

df_map_transaction= pd.DataFrame(clm2)

In [10]:
path3='/content/pulse/data/map/user/hover/country/india/state/'
aggstate_list=os.listdir(path3)

In [76]:
clm3={'State':[], 'Year':[], 'Quarter':[], 'District':[], 'RegisteredUsers':[], 'AppOpen':[]}
for i in aggstate_list:
  p_i=path3+i+"/"
  agg_yr=os.listdir(p_i)
  for j in agg_yr:
    p_j=p_i+j+"/"
    agg_yr_list=os.listdir(p_j)
    for k in agg_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      D=json.load(Data)
      for z in D['data']['hoverData']:
        
        clm3['District'].append(z)
        clm3['State'].append(i.title())
        clm3['Year'].append(j)
        clm3['Quarter'].append(int(k.strip('.json')))
        reg_users=D['data']['hoverData'][z]['registeredUsers']
        app_open=D['data']['hoverData'][z]['appOpens']
        clm3['RegisteredUsers'].append(reg_users)
        clm3['AppOpen'].append(app_open)

df_map_users= pd.DataFrame(clm3)

In [12]:
path4='/content/pulse/data/top/transaction/country/india/state/'

aggstate_list= os.listdir(path4)

In [13]:
clm4={'State':[], 'Year':[], 'Quarter':[], 'Entity':[], 'Transaction_count':[], 'Transaction_amount':[]}
for i in aggstate_list:
  p_i=path4+i+"/"
  agg_yr=os.listdir(p_i)
  for j in agg_yr:
    p_j=p_i+j+"/"
    Agg_yr_list=os.listdir(p_j) 
    for k in Agg_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      D=json.load(Data)
      for z in D['data']:
        if z=='districts' or z=='pincodes':

          entity=D['data'][z][0]['entityName']
          count=D['data'][z][0]['metric']['count']
          amount=D['data'][z][0]['metric']['amount']
          
          clm4['Transaction_count'].append(Count)
          clm4['Transaction_amount'].append(amount)
          clm4['Entity'].append(entity)
          clm4['State'].append(i.title())
          clm4['Year'].append(j)
          clm4['Quarter'].append(int(k.strip('.json')))

df_top_transaction=pd.DataFrame(clm4)

In [14]:
path5='/content/pulse/data/top/user/country/india/state/'

aggstate_list= os.listdir(path5)

In [15]:
clm5={'State':[], 'Year':[], 'Quarter':[], 'Entity':[], 'Registered_Users':[]}
for i in aggstate_list:
  p_i=path5+i+"/"
  agg_yr=os.listdir(p_i)
  for j in agg_yr:
    p_j=p_i+j+"/"
    Agg_yr_list=os.listdir(p_j) 
    for k in Agg_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      D=json.load(Data)
      for z in D['data']:
        if z=='districts' or z=='pincodes':

          entity=D['data'][z][0]['name']
          user=D['data'][z][0]['registeredUsers']
                    
          clm5['Registered_Users'].append(user)
          clm5['Entity'].append(entity)
          clm5['State'].append(i.title())
          clm5['Year'].append(j)
          clm5['Quarter'].append(int(k.strip('.json')))

df_top_users=pd.DataFrame(clm5)

In [17]:
conn = sqlite3.connect('phonepe.db')          #creating the database for storing our extracted data

cursor = conn.cursor()                      #initializing cursor for our db

In [78]:
#all the dataframes created are stored into the sqlite. replace option is given if the collection already exists

df_data_transaction.to_sql('dataTransaction',conn,if_exists= 'replace',index=False)
df_data_users.to_sql('dataUsers',conn, if_exists='replace', index=False)
df_map_transaction.to_sql('mapTransaction',conn, if_exists= 'replace', index=False)
df_map_users.to_sql('mapUsers', conn, if_exists='replace', index=False)
df_top_transaction.to_sql('topTransaction', conn, if_exists='replace', index=False)
df_top_users.to_sql('topUsers', conn, if_exists='replace', index=False)

1440

In [ ]:
!pip install streamlit      #installing streamlit

In [ ]:
!pip install pyngrok        #pyngrok for tunnelling

In [21]:
from pyngrok import ngrok

In [41]:
ngrok.set_auth_token('2L6Kz7Hvawi3QB7akHGUu8CRsfi_5JPuFqERA67quEKGFuvaU')

In [80]:
%%writefile app.py

# install packages

import streamlit as st 
import numpy as np 
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3


#---------------------------------Page Configuration------------------

st.set_page_config(page_title="Phonepe Pulse",
                    page_icon=":bar_chart:",
                    layout="wide"
                    )

st.title("Phonepe Pulse Dashboard")
conn = sqlite3.connect('phonepe.db')
cursor = conn.cursor()

#making database connection

sql1='''select * from dataTransaction as dt'''
sql2='''select * from datausers as du'''
sql3='''select * from mapTransaction as mt'''
sql4='''select * from mapUsers as mu'''
sql5='''select * from topTransaction as tt'''
sql6='''select * from topusers as tu'''

df_aggre_1=pd.read_sql(sql1,conn)
df_aggre_2=pd.read_sql(sql2,conn)
df_map_1=pd.read_sql(sql3,conn)
df_map_2=pd.read_sql(sql4,conn)
df_top_1=pd.read_sql(sql5,conn)
df_top_2=pd.read_sql(sql6,conn)


def main():
  st.sidebar.header("Filters")          #providing sidebar for selecting options
  menu=["Home","Transaction type","Brand","District wise","Map"]
  choice= st.sidebar.selectbox("Select",menu)


#-------------------------------Home page aggregated data-----------------------
  
  if choice=="Home":
    st.subheader("Aggregated Data")

    year= st.sidebar.multiselect("Select year:",
                              options=df_aggre_1["Year"].unique()
                              
                              )

    state= st.sidebar.multiselect("Select state:",
                              options=df_aggre_1["State"].unique()
                             
                              )

    quarter= st.sidebar.multiselect("Select quarter:",
                              options=df_aggre_1["Quarter"].unique()
                              
                              )

    st.subheader(":iphone: Aggregated Transactions Details")
    st.markdown("##")

    #selecting specific data from collection based on filters from user input


    if year and state and quarter:
      df_selection_1 = df_aggre_1.query("Year==@year & State==@state & Quarter==@quarter")
      df_selection_2 = df_aggre_2.query("Year==@year & State==@state & Quarter==@quarter")
      df_selection_3 = df_map_1.query("Year==@year & State==@state & Quarter==@quarter")
      df_selection_4 = df_map_2.query("Year==@year & State==@state & Quarter==@quarter")

    elif year:
      df_selection_1 = df_aggre_1.query("Year==@year")
      df_selection_2 = df_aggre_2.query("Year==@year")
      df_selection_3 = df_map_1.query("Year==@year")
      df_selection_4 = df_map_2.query("Year==@year")

    elif state:
      df_selection_1 = df_aggre_1.query("State==@state")
      df_selection_2 = df_aggre_2.query("State==@state")
      df_selection_3 = df_map_1.query("State==@state")
      df_selection_4 = df_map_2.query("State==@state")

    elif quarter:
      df_selection_1 = df_aggre_1.query("Quarter==@quarter")
      df_selection_2 = df_aggre_2.query("Quarter==@quarter")
      df_selection_3 = df_map_1.query("Quarter==@quarter")
      df_selection_4 = df_map_2.query("Quarter==@quarter")

    elif year and state:
      df_selection_1 = df_aggre_1.query("Year==@year & State==@state")
      df_selection_2 = df_aggre_2.query("Year==@year & State==@state")
      df_selection_3 = df_map_1.query("Year==@year & State==@state")
      df_selection_4 = df_map_2.query("Year==@year & State==@state")

    elif year and quarter:
      df_selection_1 = df_aggre_1.query("Year==@year & Quarter==@quarter")
      df_selection_2 = df_aggre_2.query("Year==@year & Quarter==@quarter")
      df_selection_3 = df_map_1.query("Year==@year & Quarter==@quarter")
      df_selection_4 = df_map_2.query("Year==@year & Quarter==@quarter")

    elif state and quarter:
      df_selection_1 = df_aggre_1.query("State==@state & Quarter==@quarter")
      df_selection_2 = df_aggre_2.query("State==@state & Quarter==@quarter")
      df_selection_3 = df_map_1.query("State==@state & Quarter==@quarter")
      df_selection_4 = df_map_2.query("State==@state & Quarter==@quarter")

    else:
      df_selection_1 = df_aggre_1
      df_selection_2 = df_aggre_2
      df_selection_3 = df_map_1
      df_selection_4 = df_map_2



  #finding sum of transaction datas for displaying in the dashboard

    tot_count= int(df_selection_1["Transaction_count"].sum())
    avg_amount=round(df_selection_1["Transaction_amount"].mean(),2)
    reg_users= int(df_selection_4["RegisteredUsers"].sum())

    left_column,middle_column, right_column = st.columns(3)

    with left_column:
        st.write("Total Registered Users:busts_in_silhouette:")
        st.write(f"{reg_users} Nos")

    with middle_column:
        st.write("Total Transaction count:calling:")
        st.write(f"{tot_count} Nos")

    with right_column:
        st.write("Avg Transaction amount:dollar:")
        st.write(f"{avg_amount} INR")

    st.markdown("---")


    df_tran_type=(df_selection_1.groupby(by=["Transaction_type"]).sum()[['Transaction_count','Transaction_amount']])


    #--plotting figures of home page--------

    fig_tran_type=px.bar(
                      df_tran_type,
                      x="Transaction_count",
                      y=df_tran_type.index,
                      orientation="h",
                      hover_data=["Transaction_amount"],
                      title="Total count of each Transaction type",
                      template="plotly_white",

                      width=500,
                      height=400


                      )
    df_brand=(df_selection_2.groupby(by=["Brand"]).sum()[['Count','Percent']])
    fig_brand=px.bar(
                      df_brand,
                      y="Count",
                      x=df_brand.index,
                      hover_data=["Percent"],
                      color="Count",
                      title="No.of Transaction per Device Brand",
                      template="plotly_white",

                      width=500,
                      height=400

                    )
    df_appopen=(df_map_2.groupby(by=["Year"]).sum()[['AppOpen','RegisteredUsers']])
    if state or quarter:
      df_temp=df_map_2.query("State==@state |Quarter==@quarter")
      df_appopen=(df_temp.groupby(by=["Year"]).sum()[['AppOpen','RegisteredUsers']])
    fig_appopen=px.pie(df_appopen,
                      values="AppOpen",
                      names=df_appopen.index,
                      hover_data=["RegisteredUsers"],
                      color="AppOpen",
                      title="Total No.of AppOpen",
                      hole=0.4,
    )
    c1,c3,c2=st.columns(3)

    c1.plotly_chart(fig_tran_type, use_container_width=True)
    c2.plotly_chart(fig_brand, use_container_width=True)
    c3.plotly_chart(fig_appopen, use_container_width=True)


    #-------------------------------------Transaction type page------------------


  elif choice=="Transaction type":

    tran_type= st.sidebar.selectbox("Select Transaction type:",
                              options=df_aggre_1["Transaction_type"].unique()
                              
                              )

    year= st.sidebar.selectbox("Select year:",
                              options=df_aggre_1["Year"].unique()
                              
                              )

    state= st.sidebar.selectbox("Select state:",
                              options=df_aggre_1["State"].unique()
                             
                              )

    quarter= st.sidebar.selectbox("Select quarter:",
                              options=df_aggre_1["Quarter"].unique()
                              
                              )

    if tran_type:
      st.subheader(tran_type)
    #pulling data based on filter provided


      df_transaction = df_aggre_1.query("Transaction_type==@tran_type")
      df_transaction = df_aggre_1.query("Transaction_type==@tran_type & State==@state & Quarter==@quarter")
      df_year= (df_transaction.groupby(by=["Year"]).sum()[["Transaction_count","Transaction_amount"]])

      #------plotting figures for transaction type selected--------

      fig_year_tran=px.bar(df_year,
                       orientation="h",
                       y=df_year.index,
                       x="Transaction_count",
                       color=df_year.index,
                       hover_data=["Transaction_amount"],
                       title="Transaction count per year",
                       )

      df_transaction = df_aggre_1.query("Transaction_type==@tran_type & Year==@year & Quarter==@quarter")
      df_state= (df_transaction.groupby(by=["State"]).sum()[["Transaction_count","Transaction_amount"]])
      fig_state_tran=px.bar(df_state,
                       x=df_state.index,
                       y="Transaction_count",
                       hover_data=["Transaction_amount"],
                       title="Transaction count per state",
                       )
      df_transaction = df_aggre_1.query("Transaction_type==@tran_type & State==@state")
      df_quarter= (df_transaction.groupby(by=["Quarter"]).sum()[["Transaction_count","Transaction_amount"]])
      fig_quarter_tran=px.bar(df_quarter,
                       x=df_quarter.index,
                       y="Transaction_amount",
                       hover_data=["Transaction_count"],
                       color="Transaction_amount",
                       title="Transaction amount per quarter",
                       )

      col1,col2,col3= st.columns(3)
      col1.plotly_chart(fig_year_tran,use_container_width=True)
      col2.plotly_chart(fig_state_tran,use_container_width=True)
      col3.plotly_chart(fig_quarter_tran,use_container_width=True)

      st.markdown("-----")

      if year and state and quarter:
        df_selection_1 = df_aggre_1.query("Year==@year & State==@state & Quarter==@quarter & Transaction_type==@tran_type")
        tot_count= int(df_selection_1["Transaction_count"].sum())
        avg_amount=round(df_selection_1["Transaction_amount"].mean(),2)

        c1,c2=st.columns(2)
        with c1:
          st.subheader("Transaction count:calling:")
          st.subheader(f"{tot_count} Nos")

        with c2:
          st.subheader("Average Amount:dollar:")
          st.subheader(f"{avg_amount} INR")


  #----------------------------------------Brand wise details------------------------
  
  elif choice=="Brand":
  #providing sidebar for filters

    brand= st.sidebar.selectbox("Select Phone brand:",
                              options=df_aggre_2["Brand"].unique()

                              )

    year= st.sidebar.selectbox("Select year:",
                              options=df_aggre_1["Year"].unique()
                              
                              )

    state= st.sidebar.selectbox("Select state:",
                              options=df_aggre_1["State"].unique()
                             
                              )

    quarter= st.sidebar.selectbox("Select quarter:",
                              options=df_aggre_1["Quarter"].unique()
                              
                              )

    if brand:
      st.subheader(brand)

      #selcting specific data based on the filter provided

      df_brand = df_aggre_2.query("Brand==@brand & State==@state & Quarter==@quarter")
      df_brand_1 = df_aggre_2.query("Brand==@brand & Year==@year & Quarter==@quarter")
      df_brand_2 = df_aggre_2.query("Brand==@brand & Year==@year & State==@state")

      tot_count= int(df_brand_2["Count"].sum())      

      st.write(f"Total transaction during {year} in {state} is {tot_count}: Nos")
      
      df_year= (df_brand.groupby(by=["Year"]).sum()[["Count","Percent"]])


    #--------plotting fig for brand page-----------


      fig_year_brand=px.bar(df_year,
                       x=df_year.index,
                       y="Count",
                       hover_data=["Percent"],
                       title="Transaction count per year",
                       )

  
      df_state= (df_brand_1.groupby(by=["State"]).sum()[["Count","Percent"]])
      fig_state_brand=px.pie(df_state,
                       names=df_state.index,
                       values="Count",
                       hole=0.4,
                       hover_data=["Percent"],
                       title="Transaction count per state",
                       )
      fig_state_brand.update_traces(textposition="inside")
      #fig_state_brand.update_layout(uniformtext_minsize=12, uniformtext_mode='hide')
     
      df_quarter= (df_brand_2.groupby(by=["Quarter"]).sum()[["Count","Percent"]])
      fig_quarter_brand=px.bar(df_quarter,
                       x=df_quarter.index,
                       y="Count",
                       hover_data=["Percent"],
                       color="Percent",
                       title="Transaction count per quarter",
                       )

      col1,col2,col3= st.columns(3)
      col1.plotly_chart(fig_year_brand,use_container_width=True)
      col2.plotly_chart(fig_state_brand,use_container_width=True)
    
      col3.plotly_chart(fig_quarter_brand,use_container_width=True)

      st.markdown("-----")
                               


  #--------------------------------------District wise details-----------------------
  elif choice == 'District wise' :       

  #sidebars for filters

    state=st.sidebar.selectbox("Select state:",
                                options=df_aggre_1["State"].unique()
                                
                                ) 

    df_selection_3 = df_map_1.query("State==@state")                   
    district=st.sidebar.selectbox("Select district:",
                              options=df_selection_3["District"].unique()
                              
                              )
    year= st.sidebar.selectbox("Select year:",
                              options=df_aggre_1["Year"].unique()
                              
                              )
    quarter= st.sidebar.selectbox("Select quarter:",
                              options=df_aggre_1["Quarter"].unique()
                              
                              )

    

    if district:
      st.subheader(f"{district.upper()}")
      df_user = df_map_2.query("District==@district")
      df_reg_user= (df_user.groupby(by=["Year"]).sum()[["RegisteredUsers","AppOpen"]])

      #-------plotting figures for distict wise page-------

      fig_reg_year=px.bar(df_reg_user,
                      y=df_reg_user.index,
                      x="RegisteredUsers",
                      orientation='h',
                      template="plotly_white",
                      title="Registered Users per year"
                      )

      fig_app_year=px.bar(df_reg_user,
                      x=df_reg_user.index,
                      y="AppOpen",
                      color="RegisteredUsers",
                      template="plotly_white",
                      title="App Open per year"
                      )

      cola,colb,colc=st.columns(3)
      cola.plotly_chart(fig_reg_year,use_container_width=True)
      colb.plotly_chart(fig_app_year,use_container_width=True)
      
      st.markdown("----")
    

      df_map_1a=df_map_1.query("Year==@year & State==@state & Quarter==@quarter & District==@district")
      dist_tran_count= int(df_map_1a["Transaction_count"].sum())
      dist_avg_amount=round(df_map_1a["Transaction_amount"].mean(),2)
      with colc:
        st.header("")
        st.header("")

        st.write("Transaction count:calling:")
        st.subheader(f"{dist_tran_count} Nos")
        
        st.write("Average Amount:money_with_wings:")
        st.subheader(f"{dist_avg_amount} INR")



#---------------------------------Map section---------------------------------------


  else:

    st.subheader("Maps-INDIA")
    
    #cleaning data in the dataframe for plotting map

    df_top_2["State"].replace("Tamil-Nadu","Tamil Nadu",inplace=True)
    df_top_2["State"].replace("Himachal-Pradesh","Himachal Pradesh",inplace=True)
    df_top_2["State"].replace("Jammu-&-Kashmir","Jammu and Kashmir",inplace=True)
    df_top_2["State"].replace("Andhra-Pradesh","Andhra Pradesh",inplace=True)
    df_top_2["State"].replace("Dadra-&-Nagar-Haveli-&-Daman-&-Diu","Daman and Diu",inplace=True)
    df_top_2["State"].replace("Madhya-Pradesh","Madhya Pradesh",inplace=True)
    df_top_2["State"].replace("West-Bengal","West Bengal",inplace=True)
    df_top_2["State"].replace("Arunachal-Pradesh","Arunachal Pradesh",inplace=True)
    df_top_2["State"].replace("Andaman-&-Nicobar-Islands","Andaman and Nicobar Islands",inplace=True)
    df_top_2["State"].replace("Uttar-Pradesh","Uttar Pradesh",inplace=True)

    df_map_1["State"].replace("Tamil-Nadu","Tamil Nadu",inplace=True)
    df_map_1["State"].replace("Himachal-Pradesh","Himachal Pradesh",inplace=True)
    df_map_1["State"].replace("Jammu-&-Kashmir","Jammu and Kashmir",inplace=True)
    df_map_1["State"].replace("Andhra-Pradesh","Andhra Pradesh",inplace=True)
    df_map_1["State"].replace("Dadra-&-Nagar-Haveli-&-Daman-&-Diu","Daman and Diu",inplace=True)
    df_map_1["State"].replace("Madhya-Pradesh","Madhya Pradesh",inplace=True)
    df_map_1["State"].replace("West-Bengal","West Bengal",inplace=True)
    df_map_1["State"].replace("Arunachal-Pradesh","Arunachal Pradesh",inplace=True)
    df_map_1["State"].replace("Andaman-&-Nicobar-Islands","Andaman and Nicobar Islands",inplace=True)
    df_map_1["State"].replace("Uttar-Pradesh","Uttar Pradesh",inplace=True)

    #st.write(df_map_1)

    l_year = list(df_top_2['Year'].unique())
    l_state = list(df_top_2['State'].unique())

    l_reg_user = {'state':[], 'reg_user':[], 'tran_amt':[], 'tran_count':[]}

    # pulling the necessary data we need to plot in map into a dictionary

    for j in l_state:
      x = df_top_2.loc[df_top_2['State']==j,'Registered_Users'].sum()
      y = df_map_1.loc[df_map_1['State']==j,'Transaction_amount'].sum()
      z = df_map_1.loc[df_map_1['State']==j,'Transaction_count'].sum()
      l_reg_user['state'].append(j)
      l_reg_user['reg_user'].append(x)
      l_reg_user['tran_amt'].append(y)
      l_reg_user['tran_count'].append(z)

    df_new = pd.DataFrame(l_reg_user)   # converting extracted data into datafreame

    #st.write(df_new)

    #plotting maps using choropleth
    #the link of geojson file I used in this process is given. But it doesn't include Andaman islands and other union territories.
    #"https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"

    
    fig_reg_user = px.choropleth(
        df_new,
        geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
        featureidkey='properties.ST_NM',
        locations='state',
        title='State Wise No. of Registered Users over last 5 years',
        color='reg_user',
        hover_data =['tran_amt'],
        color_continuous_scale='Reds',

        width = 1000,
        height = 900
        )

    fig_reg_user.update_geos(fitbounds="locations", visible=False)

    fig_tran_count = px.choropleth(
        df_new,
        geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
        featureidkey='properties.ST_NM',
        locations='state',
        title='State Wise Transaction Count over last 5 years',
        color='tran_count',
        color_continuous_scale='purples',

        width = 1000,
        height = 900
        )

    fig_tran_count.update_geos(fitbounds="locations", visible=False)


    fig_tran_amt = px.choropleth(
        df_new,
        geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
        featureidkey='properties.ST_NM',
        locations='state',
        title='State Wise Transaction Amount over last 5 years',
        color='tran_amt',
        color_continuous_scale='Oranges',

        width = 1000,
        height = 900
        )

    fig_tran_amt.update_geos(fitbounds="locations", visible=False)

    param = st.sidebar.radio("Select parameter",('Registered Users', 'Transaction amount', 'Transaction Count'))

    if param =='Registered Users':
      st.plotly_chart(fig_reg_user)

    elif param == 'Transaction amount':
      st.plotly_chart(fig_tran_amt)

    elif param == 'Transaction Count':
      st.plotly_chart(fig_tran_count)
    

  st.sidebar.markdown("---")


if __name__=='__main__':
  main()

Overwriting app.py

In [42]:
!nohup streamlit run app.py --server.port 80 &
url = ngrok.connect(port = '80')
print(url)

nohup: appending output to 'nohup.out'
NgrokTunnel: "http://ed41-35-233-251-89.ngrok.io" -> "http://localhost:80"

In [37]:
df_new

                          state   reg_user      tran_amt
0                    Chandigarh    8135924  2.490724e+11
1             Jammu and Kashmir    5517606  2.112188e+11
2                     Rajasthan   72922705  6.349707e+12
3                Andhra Pradesh   43391898  1.907946e+12
4                       Haryana   44834329  8.883817e+11
5                     Meghalaya    1557982  3.672329e+10
6                         Bihar   37287296  3.186766e+12
7                       Gujarat   55715426  2.047100e+12
8                   West Bengal   43241137  2.561275e+12
9                     Telangana   62851951  1.354507e+13
10                 Chhattisgarh   16392354  5.511906e+11
11                       Kerala   18364213  4.390509e+11
12                          Goa    6297824  1.375560e+11
13                       Sikkim    1905621  4.160117e+10
14                       Ladakh    1150993  2.440987e+10
15                   Tamil Nadu   32734329  2.026194e+12
16                Uttar Pradesh   46684446  2.089442e+12
17                    Karnataka  175368649  1.051786e+13
18                     Nagaland    1989317  4.470186e+10
19                      Tripura    3444957  3.901573e+10
20                  Maharashtra  114804765  6.963850e+12
21               Madhya Pradesh   33222655  3.447612e+12
22                  Lakshadweep      97053  7.367983e+08
23                   Puducherry    5283923  1.158914e+11
24                      Manipur    2229934  1.572960e+11
25            Arunachal Pradesh    1731633  3.209718e+10
26                      Mizoram     886962  1.366267e+10
27                    Jharkhand   18144256  6.057812e+11
28                Daman and Diu    5804534  6.461520e+10
29                       Odisha   25896733  2.448466e+12
30                        Assam   10500052  8.465859e+11
31                  Uttarakhand   17722610  5.112168e+11
32  Andaman and Nicobar Islands     913135  2.203595e+10
33                       Punjab   23107125  6.243953e+11
34                        Delhi   34399208  3.799763e+12
35             Himachal Pradesh    7205553  1.452492e+11

In [3]:
import pandas as pd

In [39]:
import pandas as pd
import plotly.express as px

df = pd.read_csv("https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/active_cases_2020-07-17_0800.csv")

fig = px.choropleth(
    df_new,
    geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
    featureidkey='properties.ST_NM',
    locations='state',
    color='reg_user',
    color_continuous_scale='Reds'
)

fig.update_geos(fitbounds="locations", visible=False)

fig.show()