<a href="https://colab.research.google.com/github/LVaditya/turbo-broccoli/blob/main/Phonepe_Pulse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/PhonePe/pulse.git

Cloning into 'pulse'...
remote: Enumerating objects: 7975, done.
remote: Counting objects: 100% (7975/7975), done.
remote: Compressing objects: 100% (6637/6637), done.
remote: Total 7975 (delta 2465), reused 6527 (delta 1031), pack-reused 0
Receiving objects: 100% (7975/7975), 2.11 MiB | 5.64 MiB/s, done.
Resolving deltas: 100% (2465/2465), done.

In [2]:
import os,json
import pandas as pd
import glob

In [3]:
path0='/content/pulse/data/aggregated/transaction/country/india/state/'

aggstate_list= os.listdir(path0)

In [4]:
clm={'State':[], 'Year':[], 'Quarter':[], 'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}
for i in aggstate_list:
  p_i=path0+i+"/"
  agg_yr=os.listdir(p_i)
  for j in agg_yr:
    p_j=p_i+j+"/"
    Agg_yr_list=os.listdir(p_j) 
    for k in Agg_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      D=json.load(Data)
      for z in D['data']['transactionData']:
        Name=z['name']
        Count=z['paymentInstruments'][0]['count']
        amount=z['paymentInstruments'][0]['amount']
        clm['Transaction_type'].append(Name)
        clm['Transaction_count'].append(Count)
        clm['Transaction_amount'].append(amount)
        clm['State'].append(i)
        clm['Year'].append(j)
        clm['Quarter'].append(int(k.strip('.json')))

df_data_transaction=pd.DataFrame(clm)

In [5]:
path1='/content/pulse/data/aggregated/user/country/india/state/'
aggstate_list=os.listdir(path1)

In [6]:
clm1={'State':[], 'Year':[], 'Quarter':[], 'Brand':[], 'Count':[], 'Percent':[]}
for i in aggstate_list:
  p_i=path1+i+"/"
  agg_yr=os.listdir(p_i)
  for j in agg_yr:
    p_j=p_i+j+"/"
    agg_yr_list=os.listdir(p_j)
    for k in agg_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      D=json.load(Data)
      if D['data']['usersByDevice']:
        for z in D['data']['usersByDevice']:
          brand=z['brand']
          count=z['count']
          percent=z['percentage']
          clm1['Brand'].append(brand)
          clm1['Count'].append(count)
          clm1['Percent'].append(percent)
          clm1['State'].append(i)
          clm1['Year'].append(j)
          clm1['Quarter'].append(int(k.strip('.json')))

df_data_users=pd.DataFrame(clm1)

In [7]:
path2='/content/pulse/data/map/transaction/hover/country/india/state/'
aggstate_list=os.listdir(path2)

In [8]:
clm2={'State':[], 'Year':[], 'Quarter':[], 'District':[], 'Transaction_count':[], 'Transaction_amount':[]}
for i in aggstate_list:
  p_i=path2+i+"/"
  agg_yr=os.listdir(p_i)
  for j in agg_yr:
    p_j=p_i+j+"/"
    Agg_yr_list=os.listdir(p_j) 
    for k in Agg_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      D=json.load(Data)
      for z in D['data']['hoverDataList']:
        Name=z['name']
        Count=z['metric'][0]['count']
        amount=z['metric'][0]['amount']
        clm2['District'].append(Name)
        clm2['Transaction_count'].append(Count)
        clm2['Transaction_amount'].append(amount)
        clm2['State'].append(i)
        clm2['Year'].append(j)
        clm2['Quarter'].append(int(k.strip('.json')))

df_map_transaction= pd.DataFrame(clm2)

In [9]:
path3='/content/pulse/data/map/user/hover/country/india/state/'
aggstate_list=os.listdir(path3)

In [10]:
clm3={'State':[], 'Year':[], 'Quarter':[], 'District':[], 'RegisteredUsers':[], 'AppOpen':[]}
for i in aggstate_list:
  p_i=path3+i+"/"
  agg_yr=os.listdir(p_i)
  for j in agg_yr:
    p_j=p_i+j+"/"
    agg_yr_list=os.listdir(p_j)
    for k in agg_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      D=json.load(Data)
      for z in D['data']['hoverData']:
        
        clm3['District'].append(z)
        clm3['State'].append(i)
        clm3['Year'].append(j)
        clm3['Quarter'].append(int(k.strip('.json')))
        reg_users=D['data']['hoverData'][z]['registeredUsers']
        app_open=D['data']['hoverData'][z]['appOpens']
        clm3['RegisteredUsers'].append(reg_users)
        clm3['AppOpen'].append(app_open)

df_map_users= pd.DataFrame(clm3)

In [11]:
path4='/content/pulse/data/top/transaction/country/india/state/'

aggstate_list= os.listdir(path4)

In [12]:
clm4={'State':[], 'Year':[], 'Quarter':[], 'Entity':[], 'Transaction_count':[], 'Transaction_amount':[]}
for i in aggstate_list:
  p_i=path4+i+"/"
  agg_yr=os.listdir(p_i)
  for j in agg_yr:
    p_j=p_i+j+"/"
    Agg_yr_list=os.listdir(p_j) 
    for k in Agg_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      D=json.load(Data)
      for z in D['data']:
        if z=='districts' or z=='pincodes':

          entity=D['data'][z][0]['entityName']
          count=D['data'][z][0]['metric']['count']
          amount=D['data'][z][0]['metric']['amount']
          
          clm4['Transaction_count'].append(Count)
          clm4['Transaction_amount'].append(amount)
          clm4['Entity'].append(entity)
          clm4['State'].append(i)
          clm4['Year'].append(j)
          clm4['Quarter'].append(int(k.strip('.json')))

df_top_transaction=pd.DataFrame(clm4)

In [13]:
path5='/content/pulse/data/top/user/country/india/state/'

aggstate_list= os.listdir(path5)

In [14]:
clm5={'State':[], 'Year':[], 'Quarter':[], 'Entity':[], 'Registered_Users':[]}
for i in aggstate_list:
  p_i=path5+i+"/"
  agg_yr=os.listdir(p_i)
  for j in agg_yr:
    p_j=p_i+j+"/"
    Agg_yr_list=os.listdir(p_j) 
    for k in Agg_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      D=json.load(Data)
      for z in D['data']:
        if z=='districts' or z=='pincodes':

          entity=D['data'][z][0]['name']
          user=D['data'][z][0]['registeredUsers']
                    
          clm5['Registered_Users'].append(user)
          clm5['Entity'].append(entity)
          clm5['State'].append(i)
          clm5['Year'].append(j)
          clm5['Quarter'].append(int(k.strip('.json')))

df_top_users=pd.DataFrame(clm5)

In [15]:
import sqlite3
import pandas as pd

In [16]:
conn = sqlite3.connect('phonepe.db')

cursor = conn.cursor()

In [17]:
df_data_transaction.to_sql('dataTransaction',conn,if_exists= 'replace',index=False)
df_data_users.to_sql('dataUsers',conn, if_exists='replace', index=False)
df_map_transaction.to_sql('mapTransaction',conn, if_exists= 'replace', index=False)
df_map_users.to_sql('mapUsers', conn, if_exists='replace', index=False)
df_top_transaction.to_sql('topTransaction', conn, if_exists='replace', index=False)
df_top_users.to_sql('topUsers', conn, if_exists='replace', index=False)

In [18]:
sql1='''select * from dataTransaction as dt'''

sql2='''select * from datausers as du'''
sql3='''select * from mapTransaction as mt'''
sql4='''select * from mapUsers as mu'''
sql5='''select * from topTransaction as tt'''
sql6='''select * from topusers as tu'''

In [19]:
df_aggre_1=pd.read_sql(sql1,conn)
df_aggre_2=pd.read_sql(sql2,conn)
df_map_1=pd.read_sql(sql3,conn)
df_map_2=pd.read_sql(sql4,conn)
df_top_1=pd.read_sql(sql5,conn)
df_top_2=pd.read_sql(sql6,conn)

In [20]:
z='682035'

In [ ]:
df_top_1.loc[df_top_1["Entity"]==z,['Entity']]="Kochi"

In [ ]:
df_top_1

,State,Year,Quarter,Entity,Transaction_count,Transaction_amount
0,jharkhand,2021,3,Kochi,15220234,2.984067e+10
1,jharkhand,2021,3,True,15220234,1.311751e+10
2,jharkhand,2021,1,Kochi,15220234,2.051652e+10
3,jharkhand,2021,1,True,15220234,9.528083e+09
4,jharkhand,2021,2,Kochi,15220234,2.409715e+10
...,...,...,...,...,...,...
1435,uttar-pradesh,2020,1,226004,15220234,2.560424e+10
1436,uttar-pradesh,2020,2,lucknow,15220234,3.089556e+10
1437,uttar-pradesh,2020,2,226004,15220234,2.322820e+10
1438,uttar-pradesh,2020,4,gautam buddha nagar,15220234,3.284252e+10
1439,uttar-pradesh,2020,4,226004,15220234,2.897126e+10

In [21]:
!pip install streamlit

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting streamlit
  Downloading streamlit-1.18.1-py2.py3-none-any.whl (9.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.6/9.6 MB 45.9 MB/s eta 0:00:00
Collecting semver
  Downloading semver-2.13.0-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: altair>=3.2.0 in /usr/local/lib/python3.8/dist-packages (from streamlit) (4.2.2)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /usr/local/lib/python3.8/dist-packages (from streamlit) (4.5.0)
Requirement already satisfied: tzlocal>=1.1 in /usr/local/lib/python3.8/dist-packages (from streamlit) (1.5.1)
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.8/dist-packages (from streamlit) (6.0.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from streamlit) (2.8.2)
Collecting gitpython!=3.1.19
  Downloading GitPython-3.1.31-py3-none-any.whl (184 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 184.3/184.3 KB 22.1 MB/s eta 0:00:00
Requirement already satisfied: tornado>=6.0.3 in /usr/local/lib/python3.8/dist-packages (from streamlit) (6.2)
Requirement already satisfied: toml in /usr/local/lib/python3.8/dist-packages (from streamlit) (0.10.2)
Collecting rich>=10.11.0
  Downloading rich-13.3.1-py3-none-any.whl (239 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 239.0/239.0 KB 26.4 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.8/dist-packages (from streamlit) (1.3.5)
Requirement already satisfied: pyarrow>=4.0 in /usr/local/lib/python3.8/dist-packages (from streamlit) (9.0.0)
Collecting blinker>=1.0.0
  Downloading blinker-1.5-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: requests>=2.4 in /usr/local/lib/python3.8/dist-packages (from streamlit) (2.25.1)
Requirement already satisfied: packaging>=14.1 in /usr/local/lib/python3.8/dist-packages (from streamlit) (23.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from streamlit) (7.1.2)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.8/dist-packages (from streamlit) (7.1.2)
Collecting pydeck>=0.1.dev5
  Downloading pydeck-0.8.0-py2.py3-none-any.whl (4.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 65.4 MB/s eta 0:00:00
Requirement already satisfied: cachetools>=4.0 in /usr/local/lib/python3.8/dist-packages (from streamlit) (5.3.0)
Requirement already satisfied: protobuf<4,>=3.12 in /usr/local/lib/python3.8/dist-packages (from streamlit) (3.19.6)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from streamlit) (1.22.4)
Collecting validators>=0.2
  Downloading validators-0.20.0.tar.gz (30 kB)
  Preparing metadata (setup.py) ... done
Collecting pympler>=0.9
  Downloading Pympler-1.0.1-py3-none-any.whl (164 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 164.8/164.8 KB 22.7 MB/s eta 0:00:00
Collecting watchdog
  Downloading watchdog-2.2.1-py3-none-manylinux2014_x86_64.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.0/79.0 KB 11.0 MB/s eta 0:00:00
Requirement already satisfied: entrypoints in /usr/local/lib/python3.8/dist-packages (from altair>=3.2.0->streamlit) (0.4)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.8/dist-packages (from altair>=3.2.0->streamlit) (2.11.3)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.8/dist-packages (from altair>=3.2.0->streamlit) (4.3.3)
Requirement already satisfied: toolz in /usr/local/lib/python3.8/dist-packages (from altair>=3.2.0->streamlit) (0.12.0)
Collecting gitdb<5,>=4.0.1
  Downloading gitdb-4.0.10-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.7/62.7 KB 9.3 MB/s eta 0:00:00
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata>=1.4->streamlit) (3.14.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25->streamlit) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil->streamlit) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.4->streamlit) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.4->streamlit) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.4->streamlit) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.4->streamlit) (2022.12.7)
Collecting pygments<3.0.0,>=2.14.0
  Downloading Pygments-2.14.0-py3-none-any.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 66.5 MB/s eta 0:00:00
Collecting markdown-it-py<3.0.0,>=2.1.0
  Downloading markdown_it_py-2.2.0-py3-none-any.whl (84 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 84.5/84.5 KB 11.4 MB/s eta 0:00:00
Requirement already satisfied: decorator>=3.4.0 in /usr/local/lib/python3.8/dist-packages (from validators>=0.2->streamlit) (4.4.2)
Collecting smmap<6,>=3.0.1
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2->altair>=3.2.0->streamlit) (2.0.1)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (22.2.0)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (5.12.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (0.19.3)
Collecting mdurl~=0.1
  Downloading mdurl-0.1.2-py3-none-any.whl (10.0 kB)
Building wheels for collected packages: validators
  Building wheel for validators (setup.py) ... done
  Created wheel for validators: filename=validators-0.20.0-py3-none-any.whl size=19581 sha256=a460393c1198cb4b98788a93653b05ae7a856e3a401f3abe65d8a4f11705626b
  Stored in directory: /root/.cache/pip/wheels/19/09/72/3eb74d236bb48bd0f3c6c3c83e4e0c5bbfcbcad7c6c3539db8
Successfully built validators
Installing collected packages: watchdog, validators, smmap, semver, pympler, pygments, mdurl, blinker, pydeck, markdown-it-py, gitdb, rich, gitpython, streamlit
  Attempting uninstall: pygments
    Found existing installation: Pygments 2.6.1
    Uninstalling Pygments-2.6.1:
      Successfully uninstalled Pygments-2.6.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython 7.9.0 requires jedi>=0.10, which is not installed.
Successfully installed blinker-1.5 gitdb-4.0.10 gitpython-3.1.31 markdown-it-py-2.2.0 mdurl-0.1.2 pydeck-0.8.0 pygments-2.14.0 pympler-1.0.1 rich-13.3.1 semver-2.13.0 smmap-5.0.0 streamlit-1.18.1 validators-0.20.0 watchdog-2.2.1

In [22]:
!pip install pyngrok

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyngrok
  Downloading pyngrok-5.2.1.tar.gz (761 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 761.3/761.3 KB 15.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: PyYAML in /usr/local/lib/python3.8/dist-packages (from pyngrok) (6.0)
Building wheels for collected packages: pyngrok
  Building wheel for pyngrok (setup.py) ... done
  Created wheel for pyngrok: filename=pyngrok-5.2.1-py3-none-any.whl size=19792 sha256=c6bee9cd591148b1e8b1aaa89fd66f7b2acc23b246bc578f1d1d871f608af729
  Stored in directory: /root/.cache/pip/wheels/5d/f2/70/526da675d32f17577ec47ac4c663084efe39d47c826b6c3bb1
Successfully built pyngrok
Installing collected packages: pyngrok
Successfully installed pyngrok-5.2.1

In [23]:
from pyngrok import ngrok

In [24]:
ngrok.set_auth_token('2L6Kz7Hvawi3QB7akHGUu8CRsfi_5JPuFqERA67quEKGFuvaU')

In [48]:
%%writefile app.py

# install packages

import streamlit as st 
import numpy as np 
import pandas as pd
import plotly.express as px
import sqlite3

#-------Page Configuration--------

st.set_page_config(page_title="Phonepe Pulse",
                    page_icon=":bar_chart:",
                    layout="wide"
                    )

st.title("Phonepe Pulse Dashboard")
conn = sqlite3.connect('phonepe.db')
cursor = conn.cursor()

#making database connection

sql1='''select * from dataTransaction as dt'''
sql2='''select * from datausers as du'''
sql3='''select * from mapTransaction as mt'''
sql4='''select * from mapUsers as mu'''
sql5='''select * from topTransaction as tt'''
sql6='''select * from topusers as tu'''

df_aggre_1=pd.read_sql(sql1,conn)
df_aggre_2=pd.read_sql(sql2,conn)
df_map_1=pd.read_sql(sql3,conn)
df_map_2=pd.read_sql(sql4,conn)
df_top_1=pd.read_sql(sql5,conn)
df_top_2=pd.read_sql(sql6,conn)


def main():
  st.sidebar.header("Filters")
  menu=["Home","Transaction type","Brand","District wise"]
  choice= st.sidebar.selectbox("Select",menu)


#-----------------Home page aggregated data--------------
  
  if choice=="Home":
    st.subheader("Aggregated Data")

    year= st.sidebar.multiselect("Select year:",
                              options=df_aggre_1["Year"].unique()
                              
                              )

    state= st.sidebar.multiselect("Select state:",
                              options=df_aggre_1["State"].unique()
                             
                              )

    quarter= st.sidebar.multiselect("Select quarter:",
                              options=df_aggre_1["Quarter"].unique()
                              
                              )

    st.subheader(":iphone: Aggregated Transactions Details")
    st.markdown("##")


    if year and state and quarter:
      df_selection_1 = df_aggre_1.query("Year==@year & State==@state & Quarter==@quarter")
      df_selection_2 = df_aggre_2.query("Year==@year & State==@state & Quarter==@quarter")
      df_selection_3 = df_map_1.query("Year==@year & State==@state & Quarter==@quarter")
      df_selection_4 = df_map_2.query("Year==@year & State==@state & Quarter==@quarter")

    elif year:
      df_selection_1 = df_aggre_1.query("Year==@year")
      df_selection_2 = df_aggre_2.query("Year==@year")
      df_selection_3 = df_map_1.query("Year==@year")
      df_selection_4 = df_map_2.query("Year==@year")

    elif state:
      df_selection_1 = df_aggre_1.query("State==@state")
      df_selection_2 = df_aggre_2.query("State==@state")
      df_selection_3 = df_map_1.query("State==@state")
      df_selection_4 = df_map_2.query("State==@state")

    elif quarter:
      df_selection_1 = df_aggre_1.query("Quarter==@quarter")
      df_selection_2 = df_aggre_2.query("Quarter==@quarter")
      df_selection_3 = df_map_1.query("Quarter==@quarter")
      df_selection_4 = df_map_2.query("Quarter==@quarter")

    elif year and state:
      df_selection_1 = df_aggre_1.query("Year==@year & State==@state")
      df_selection_2 = df_aggre_2.query("Year==@year & State==@state")
      df_selection_3 = df_map_1.query("Year==@year & State==@state")
      df_selection_4 = df_map_2.query("Year==@year & State==@state")

    elif year and quarter:
      df_selection_1 = df_aggre_1.query("Year==@year & Quarter==@quarter")
      df_selection_2 = df_aggre_2.query("Year==@year & Quarter==@quarter")
      df_selection_3 = df_map_1.query("Year==@year & Quarter==@quarter")
      df_selection_4 = df_map_2.query("Year==@year & Quarter==@quarter")

    elif state and quarter:
      df_selection_1 = df_aggre_1.query("State==@state & Quarter==@quarter")
      df_selection_2 = df_aggre_2.query("State==@state & Quarter==@quarter")
      df_selection_3 = df_map_1.query("State==@state & Quarter==@quarter")
      df_selection_4 = df_map_2.query("State==@state & Quarter==@quarter")

    else:
      df_selection_1 = df_aggre_1
      df_selection_2 = df_aggre_2
      df_selection_3 = df_map_1
      df_selection_4 = df_map_2

    tot_count= int(df_selection_1["Transaction_count"].sum())
    avg_amount=round(df_selection_1["Transaction_amount"].mean(),2)
    reg_users= int(df_selection_4["RegisteredUsers"].sum())

    left_column,middle_column, right_column = st.columns(3)

    with left_column:
        st.write("Total Registered Users")
        st.write(reg_users)

    with middle_column:
        st.write("Total Transaction count")
        st.write(tot_count)

    with right_column:
        st.write("Avg Transaction amount")
        st.write(avg_amount)

    st.markdown("---")


    df_tran_type=(df_selection_1.groupby(by=["Transaction_type"]).sum()[['Transaction_count','Transaction_amount']])


#-----------plotting figures of home page--------

    fig_tran_type=px.bar(
                      df_tran_type,
                      x="Transaction_count",
                      y=df_tran_type.index,
                      orientation="h",
                      hover_data=["Transaction_amount"],
                      title="Total count of each Transaction type",
                      template="plotly_white",

                      width=500,
                      height=400


                      )
    df_brand=(df_selection_2.groupby(by=["Brand"]).sum()[['Count','Percent']])
    fig_brand=px.bar(
                      df_brand,
                      y="Count",
                      x=df_brand.index,
                      hover_data=["Percent"],
                      color="Count",
                      title="Total count to Device Brand",
                      template="plotly_white",

                      width=500,
                      height=400

                    )
    c1,c2=st.columns(2)

    c1.plotly_chart(fig_tran_type, use_container_width=True)
    c2.plotly_chart(fig_brand, use_container_width=True)


    #----------------Transaction type page---------


  elif choice=="Transaction type":

    tran_type= st.sidebar.selectbox("Select Transaction type:",
                              options=df_aggre_1["Transaction_type"].unique()
                              
                              )

    year= st.sidebar.selectbox("Select year:",
                              options=df_aggre_1["Year"].unique()
                              
                              )

    state= st.sidebar.selectbox("Select state:",
                              options=df_aggre_1["State"].unique()
                             
                              )

    quarter= st.sidebar.selectbox("Select quarter:",
                              options=df_aggre_1["Quarter"].unique()
                              
                              )

    if tran_type:
      st.subheader(tran_type)

      df_transaction = df_aggre_1.query("Transaction_type==@tran_type")
      df_year= (df_transaction.groupby(by=["Year"]).sum()[["Transaction_count","Transaction_amount"]])

      fig_year_tran=px.bar(df_year,
                       x=df_year.index,
                       y="Transaction_count",
                       hover_data=["Transaction_amount"],
                       title="Transaction count per year",
                       )

  
      df_state= (df_transaction.groupby(by=["State"]).sum()[["Transaction_count","Transaction_amount"]])
      fig_state_tran=px.bar(df_state,
                       x=df_state.index,
                       y="Transaction_count",
                       hover_data=["Transaction_amount"],
                       title="Transaction count per state",
                       )

      df_quarter= (df_transaction.groupby(by=["Quarter"]).sum()[["Transaction_count","Transaction_amount"]])
      fig_quarter_tran=px.bar(df_quarter,
                       x=df_quarter.index,
                       y="Transaction_count",
                       hover_data=["Transaction_amount"],
                       title="Transaction count per quarter",
                       )

      col1,col2,col3= st.columns(3)
      col1.plotly_chart(fig_year_tran,use_container_width=True)
      col2.plotly_chart(fig_state_tran,use_container_width=True)
      col3.plotly_chart(fig_quarter_tran,use_container_width=True)

      st.markdown("-----")

      if year and state and quarter:
        df_selection_1 = df_aggre_1.query("Year==@year & State==@state & Quarter==@quarter & Transaction_type==@tran_type")
        tot_count= int(df_selection_1["Transaction_count"].sum())
        avg_amount=round(df_selection_1["Transaction_amount"].mean(),2)

        c1,c2=st.columns(2)
        with c1:
          st.subheader("Total count")
          st.subheader(tot_count)

        with c2:
          st.subheader("Average Amount")
          st.subheader(avg_amount)


  #--------------Brand wise details---------------
  
  elif choice=="Brand":
    brand= st.sidebar.selectbox("Select Phone brand:",
                              options=df_aggre_2["Brand"].unique()

                              )

    year= st.sidebar.selectbox("Select year:",
                              options=df_aggre_1["Year"].unique()
                              
                              )

    state= st.sidebar.selectbox("Select state:",
                              options=df_aggre_1["State"].unique()
                             
                              )

    quarter= st.sidebar.selectbox("Select quarter:",
                              options=df_aggre_1["Quarter"].unique()
                              
                              )

    if brand:
      st.subheader(brand)
      
      df_brand = df_aggre_2.query("Brand==@brand & State==@state & Quarter==@quarter")
      df_brand_1 = df_aggre_2.query("Brand==@brand & Year==@year & Quarter==@quarter")
      df_brand_2 = df_aggre_2.query("Brand==@brand & Year==@year & State==@state")

      tot_count= int(df_brand_2["Count"].sum())      

      st.write(f"Total transaction in {year} for {state} is :red{tot_count}")
      
      df_year= (df_brand.groupby(by=["Year"]).sum()[["Count","Percent"]])

      fig_year_brand=px.bar(df_year,
                       x=df_year.index,
                       y="Count",
                       hover_data=["Percent"],
                       title="Transaction count per year",
                       )

  
      df_state= (df_brand_1.groupby(by=["State"]).sum()[["Count","Percent"]])
      fig_state_brand=px.pie(df_state,
                       names=df_state.index,
                       values="Count",
                       hole=0.4,
                       hover_data=["Percent"],
                       title="Transaction count per state",
                       )
      fig_state_brand.update_traces(textposition="inside")
      #fig_state_brand.update_layout(uniformtext_minsize=12, uniformtext_mode='hide')
     
      df_quarter= (df_brand_2.groupby(by=["Quarter"]).sum()[["Count","Percent"]])
      fig_quarter_brand=px.bar(df_quarter,
                       x=df_quarter.index,
                       y="Count",
                       hover_data=["Percent"],
                       color="Percent",
                       title="Transaction count per quarter",
                       )

      col1,col2,col3= st.columns(3)
      col1.plotly_chart(fig_year_brand,use_container_width=True)
      col2.plotly_chart(fig_state_brand,use_container_width=True)
    
      col3.plotly_chart(fig_quarter_brand,use_container_width=True)

      st.markdown("-----")
                               


  #--------------District wise details---------
  else:          
    state=st.sidebar.selectbox("Select state:",
                                options=df_aggre_1["State"].unique()
                                
                                ) 

    df_selection_3 = df_map_1.query("State==@state")                   
    district=st.sidebar.selectbox("Select district:",
                              options=df_selection_3["District"].unique()
                              
                              )
    year= st.sidebar.selectbox("Select year:",
                              options=df_aggre_1["Year"].unique()
                              
                              )
    quarter= st.sidebar.selectbox("Select quarter:",
                              options=df_aggre_1["Quarter"].unique()
                              
                              )

    

    if district:
      st.subheader(district)
      df_user = df_map_2.query("District==@district")
      df_reg_user= (df_user.groupby(by=["Year"]).sum()[["RegisteredUsers","AppOpen"]])

      fig_reg_year=px.bar(df_reg_user,
                      x=df_reg_user.index,
                      y="RegisteredUsers",
                      template="plotly_white",
                      title="Registered Users per year"
                      )

      fig_app_year=px.bar(df_reg_user,
                      x=df_reg_user.index,
                      y="AppOpen",
                      template="plotly_white",
                      title="App Open per year"
                      )

      cola,colb=st.columns(2)
      cola.plotly_chart(fig_reg_year,use_container_width=True)
      colb.plotly_chart(fig_app_year,use_container_width=True)
      
      st.markdown("----")
      st.write(f"Total number of Transactions and Amount of  {district.upper()}  is given")
      st.write("Use filter for specific data")

      df_map_1a=df_map_1.query("Year==@year & State==@state & Quarter==@quarter & District==@district")
      dist_tran_count= int(df_map_1a["Transaction_count"].sum())
      dist_avg_amount=round(df_map_1a["Transaction_amount"].mean(),2)

      c1,c2=st.columns(2)
      with c1:
        st.subheader("Total count")
        st.subheader(dist_tran_count)
      with c2:
        st.subheader("Average Amount")
        st.subheader(dist_avg_amount)


  st.sidebar.markdown("---")

if __name__=='__main__':
  main()

Overwriting app.py

In [26]:
!nohup streamlit run app.py --server.port 80 &
url = ngrok.connect(port = '80')
print(url)

nohup: appending output to 'nohup.out'
NgrokTunnel: "http://6d90-34-125-95-177.ngrok.io" -> "http://localhost:80"

In [ ]:
from geopy.geocoders import Nominatim
geo_loc = Nominatim(user_agent="geoapiExercises")
pincode = "682507"
place = geo_loc.geocode(pincode)
x=place.address

In [ ]:
l=list(map(str,x.split(',')))

In [ ]:
l[0]

'Kochi'

In [ ]:
l=[]
l=df_top_1["Entity"].unique()
for z in l:
  if str(z).isdigit():
    try:
      pincode = z
      place = geo_loc.geocode(pincode)
      x=place.address
      k=list(map(str,x.split(',')))
      df_top_1.loc[df_top_1['Entity']==z,['Entity']]=k[0]
    except:
      pass

In [ ]:
df_to

In [ ]:
l

array(['ranchi', True, 'dhanbad', '834001', 'chennai', '600003',
       'chengalpattu', '600119', 'kolkata', '700009', 'birbhum', '731101',
       '700039', 'dimapur', '797112', 'ahmadabad', '380001', '380018',
       'hyderabad', '500001', '500012', '500034', 'bengaluru urban',
       '560001', '560027', 'east', '737101', '737132', 'north goa',
       '403001', '403722', '403401', '403516', 'central delhi', '110006',
       'new delhi', '110011', 'gurugram', '122006', '122001',
       'leh ladakh', '194101', '194104', 'khordha', '751001', '756001',
       '751002', 'lakshadweep', '682555', '682551', 'pune', '411004',
       '400008', '411006', '411033', 'dadra and nagar haveli', '396230',
       'ludhiana', '141008', '143001', '141003', '141007', 'puducherry',
       '605002', '605001', '605007', 'west tripura', '799001',
       'papum pare', '791113', '791110', 'imphal west', '795004',
       'imphal east', '795008', 'south andaman', '744101', '744103',
       '744104', 'shimla', '171003', 'solan', '173205', '171001',
       'bhopal', '462008', '462001', 'chhindwara', '480001', 'indore',
       '452005', 'aizawl', '796009', '796005', '796008', 'ernakulam',
       '682016', '682035', '682036', '682507', 'raipur', '492009',
       '495660', '490025', 'durg', 'chandigarh', '160008', '160017',
       'jammu', '180005', 'poonch', '185102', 'srinagar', '190002',
       '180001', 'east khasi hills', '793001', '793002', '793004',
       'dehradun', '248001', 'udham singh nagar', '263153', 'jaipur',
       '302016', '302001', '302015', '302012', 'patna', '800001',
       '800006', '800015', 'visakhapatnam', '524002', '518502', '517501',
       '530001', '530026', 'kamrup metropolitan', '781009', '781010',
       '782127', '782123', '781013', 'lucknow', '226004', 'varanasi',
       '221001', 'gautam buddha nagar', '201301', '226020'], dtype=object)

In [ ]:
px.bar( )