<a href="https://colab.research.google.com/github/LVaditya/turbo-broccoli/blob/main/Phonepe_Pulse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [150]:
!git clone https://github.com/PhonePe/pulse.git

fatal: destination path 'pulse' already exists and is not an empty directory.

In [151]:
import os,json
import pandas as pd

In [152]:
path0='/content/pulse/data/aggregated/transaction/country/india/state/'

aggstate_list= os.listdir(path0)

In [153]:
clm={'State':[], 'Year':[], 'Quarter':[], 'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}
for i in aggstate_list:
  p_i=path0+i+"/"
  agg_yr=os.listdir(p_i)
  for j in agg_yr:
    p_j=p_i+j+"/"
    Agg_yr_list=os.listdir(p_j) 
    for k in Agg_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      D=json.load(Data)
      for z in D['data']['transactionData']:
        Name=z['name']
        Count=z['paymentInstruments'][0]['count']
        amount=z['paymentInstruments'][0]['amount']
        clm['Transaction_type'].append(Name)
        clm['Transaction_count'].append(Count)
        clm['Transaction_amount'].append(amount)
        clm['State'].append(i)
        clm['Year'].append(j)
        clm['Quarter'].append(int(k.strip('.json')))

df_data_transaction=pd.DataFrame(clm)

In [154]:
path1='/content/pulse/data/aggregated/user/country/india/state/'
aggstate_list=os.listdir(path1)

In [155]:
clm1={'State':[], 'Year':[], 'Quarter':[], 'Brand':[], 'Count':[], 'Percent':[]}
for i in aggstate_list:
  p_i=path1+i+"/"
  agg_yr=os.listdir(p_i)
  for j in agg_yr:
    p_j=p_i+j+"/"
    agg_yr_list=os.listdir(p_j)
    for k in agg_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      D=json.load(Data)
      if D['data']['usersByDevice']:
        for z in D['data']['usersByDevice']:
          brand=z['brand']
          count=z['count']
          percent=z['percentage']
          clm1['Brand'].append(brand)
          clm1['Count'].append(count)
          clm1['Percent'].append(percent)
          clm1['State'].append(i)
          clm1['Year'].append(j)
          clm1['Quarter'].append(int(k.strip('.json')))

df_data_users=pd.DataFrame(clm1)

In [156]:
path2='/content/pulse/data/map/transaction/hover/country/india/state/'
aggstate_list=os.listdir(path2)

In [157]:
clm2={'State':[], 'Year':[], 'Quarter':[], 'District':[], 'Transaction_count':[], 'Transaction_amount':[]}
for i in aggstate_list:
  p_i=path2+i+"/"
  agg_yr=os.listdir(p_i)
  for j in agg_yr:
    p_j=p_i+j+"/"
    Agg_yr_list=os.listdir(p_j) 
    for k in Agg_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      D=json.load(Data)
      for z in D['data']['hoverDataList']:
        Name=z['name']
        Count=z['metric'][0]['count']
        amount=z['metric'][0]['amount']
        clm2['District'].append(Name)
        clm2['Transaction_count'].append(Count)
        clm2['Transaction_amount'].append(amount)
        clm2['State'].append(i)
        clm2['Year'].append(j)
        clm2['Quarter'].append(int(k.strip('.json')))

df_map_transaction= pd.DataFrame(clm2)

In [158]:
path3='/content/pulse/data/map/user/hover/country/india/state/'
aggstate_list=os.listdir(path3)

In [159]:
clm3={'State':[], 'Year':[], 'Quarter':[], 'District':[], 'RegisteredUsers':[], 'AppOpen':[]}
for i in aggstate_list:
  p_i=path3+i+"/"
  agg_yr=os.listdir(p_i)
  for j in agg_yr:
    p_j=p_i+j+"/"
    agg_yr_list=os.listdir(p_j)
    for k in agg_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      D=json.load(Data)
      for z in D['data']['hoverData']:
        
        clm3['District'].append(z)
        clm3['State'].append(i)
        clm3['Year'].append(j)
        clm3['Quarter'].append(int(k.strip('.json')))
        reg_users=D['data']['hoverData'][z]['registeredUsers']
        app_open=D['data']['hoverData'][z]['appOpens']
        clm3['RegisteredUsers'].append(reg_users)
        clm3['AppOpen'].append(app_open)

df_map_users= pd.DataFrame(clm3)

In [160]:
path4='/content/pulse/data/top/transaction/country/india/state/'

aggstate_list= os.listdir(path4)

In [161]:
clm4={'State':[], 'Year':[], 'Quarter':[], 'Entity':[], 'Transaction_count':[], 'Transaction_amount':[]}
for i in aggstate_list:
  p_i=path4+i+"/"
  agg_yr=os.listdir(p_i)
  for j in agg_yr:
    p_j=p_i+j+"/"
    Agg_yr_list=os.listdir(p_j) 
    for k in Agg_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      D=json.load(Data)
      for z in D['data']:
        if z=='districts' or z=='pincodes':

          entity=D['data'][z][0]['entityName']
          count=D['data'][z][0]['metric']['count']
          amount=D['data'][z][0]['metric']['amount']
          
          clm4['Transaction_count'].append(Count)
          clm4['Transaction_amount'].append(amount)
          clm4['Entity'].append(entity)
          clm4['State'].append(i)
          clm4['Year'].append(j)
          clm4['Quarter'].append(int(k.strip('.json')))

df_top_transaction=pd.DataFrame(clm4)

In [162]:
path5='/content/pulse/data/top/user/country/india/state/'

aggstate_list= os.listdir(path5)

In [163]:
clm5={'State':[], 'Year':[], 'Quarter':[], 'Entity':[], 'Registered_Users':[]}
for i in aggstate_list:
  p_i=path5+i+"/"
  agg_yr=os.listdir(p_i)
  for j in agg_yr:
    p_j=p_i+j+"/"
    Agg_yr_list=os.listdir(p_j) 
    for k in Agg_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      D=json.load(Data)
      for z in D['data']:
        if z=='districts' or z=='pincodes':

          entity=D['data'][z][0]['name']
          user=D['data'][z][0]['registeredUsers']
                    
          clm5['Registered_Users'].append(user)
          clm5['Entity'].append(entity)
          clm5['State'].append(i)
          clm5['Year'].append(j)
          clm5['Quarter'].append(int(k.strip('.json')))

df_top_users=pd.DataFrame(clm5)

In [164]:
import sqlite3
import pandas as pd

In [165]:
conn = sqlite3.connect('phonepe.db')

cursor = conn.cursor()

In [166]:
df_data_transaction.to_sql('dataTransaction',conn,if_exists= 'replace',index=False)
df_data_users.to_sql('dataUsers',conn, if_exists='replace', index=False)
df_map_transaction.to_sql('mapTransaction',conn, if_exists= 'replace', index=False)
df_map_users.to_sql('mapUsers', conn, if_exists='replace', index=False)
df_top_transaction.to_sql('topTransaction', conn, if_exists='replace', index=False)
df_top_users.to_sql('topUsers', conn, if_exists='replace', index=False)

In [167]:
sql1='''select * from dataTransaction as dt'''

sql2='''select * from datausers as du'''
sql3='''select * from mapTransaction as mt'''
sql4='''select * from mapUsers as mu'''
sql5='''select * from topTransaction as tt'''
sql6='''select * from topusers as tu'''

In [168]:
df_aggre_1=pd.read_sql(sql1,conn)
df_aggre_2=pd.read_sql(sql2,conn)
df_map_1=pd.read_sql(sql3,conn)
df_map_2=pd.read_sql(sql4,conn)
df_top_1=pd.read_sql(sql5,conn)
df_top_2=pd.read_sql(sql6,conn)

In [ ]:
!pip install streamlit

In [173]:
!pip install pyngrok

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyngrok in /usr/local/lib/python3.8/dist-packages (5.2.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.8/dist-packages (from pyngrok) (6.0)

In [174]:
from pyngrok import ngrok

In [175]:
ngrok.set_auth_token('2L6Kz7Hvawi3QB7akHGUu8CRsfi_5JPuFqERA67quEKGFuvaU')

In [185]:
%%writefile app.py

# install packages

import streamlit as st 
import numpy as np 
import pandas as pd
import plotly.express as px
import sqlite3

#-------Page Configuration--------

st.set_page_config(page_title="Phonepe Pulse",
                    page_icon=":bar_chart:",
                    layout="wide"
                    )

st.title("Phonepe Pulse Dashboard")
conn = sqlite3.connect('phonepe.db')
cursor = conn.cursor()

#making database connection

sql1='''select * from dataTransaction as dt'''
sql2='''select * from datausers as du'''
sql3='''select * from mapTransaction as mt'''
sql4='''select * from mapUsers as mu'''
sql5='''select * from topTransaction as tt'''
sql6='''select * from topusers as tu'''

df_aggre_1=pd.read_sql(sql1,conn)
df_aggre_2=pd.read_sql(sql2,conn)
df_map_1=pd.read_sql(sql3,conn)
df_map_2=pd.read_sql(sql4,conn)
df_top_1=pd.read_sql(sql5,conn)
df_top_2=pd.read_sql(sql6,conn)


def main():
  st.sidebar.header("Filters")
  menu=["Home","Transaction type","Brand","District level","City level"]
  choice= st.sidebar.selectbox("Select",menu)


#-----------------Home page aggregated data--------------
  
  if choice=="Home":
    st.subheader("Aggregated Data")

    year= st.sidebar.multiselect("Select year:",
                              options=df_aggre_1["Year"].unique()
                              
                              )

    state= st.sidebar.multiselect("Select state:",
                              options=df_aggre_1["State"].unique()
                             
                              )

    quarter= st.sidebar.multiselect("Select quarter:",
                              options=df_aggre_1["Quarter"].unique()
                              
                              )

    st.subheader(":iphone: Aggregated Transactions Details")
    st.markdown("##")


    if year and state and quarter:
      df_selection_1 = df_aggre_1.query("Year==@year & State==@state & Quarter==@quarter")
      df_selection_2 = df_aggre_2.query("Year==@year & State==@state & Quarter==@quarter")
      df_selection_3 = df_map_1.query("Year==@year & State==@state & Quarter==@quarter")
      df_selection_4 = df_map_2.query("Year==@year & State==@state & Quarter==@quarter")
      df_selection_5 = df_top_1.query("Year==@year & State==@state & Quarter==@quarter")
      df_selection_6 = df_top_2.query("Year==@year & State==@state & Quarter==@quarter")
    elif year:
      df_selection_1 = df_aggre_1.query("Year==@year")
      df_selection_2 = df_aggre_2.query("Year==@year")
      df_selection_3 = df_map_1.query("Year==@year")
      df_selection_4 = df_map_2.query("Year==@year")
      df_selection_5 = df_top_1.query("Year==@year")
      df_selection_6 = df_top_2.query("Year==@year")

    elif state:
      df_selection_1 = df_aggre_1.query("State==@state")
      df_selection_2 = df_aggre_2.query("State==@state")
      df_selection_3 = df_map_1.query("State==@state")
      df_selection_4 = df_map_2.query("State==@state")
      df_selection_5 = df_top_1.query("State==@state")
      df_selection_6 = df_top_2.query("State==@state")

    elif quarter:
      df_selection_1 = df_aggre_1.query("Quarter==@quarter")
      df_selection_2 = df_aggre_2.query("Quarter==@quarter")
      df_selection_3 = df_map_1.query("Quarter==@quarter")
      df_selection_4 = df_map_2.query("Quarter==@quarter")
      df_selection_5 = df_top_1.query("Quarter==@quarter")
      df_selection_6 = df_top_2.query("Quarter==@quarter")

    elif year and state:
      df_selection_1 = df_aggre_1.query("Year==@year & State==@state")
      df_selection_2 = df_aggre_2.query("Year==@year & State==@state")
      df_selection_3 = df_map_1.query("Year==@year & State==@state")
      df_selection_4 = df_map_2.query("Year==@year & State==@state")
      df_selection_5 = df_top_1.query("Year==@year & State==@state")
      df_selection_6 = df_top_2.query("Year==@year & State==@state")

    elif year and quarter:
      df_selection_1 = df_aggre_1.query("Year==@year & Quarter==@quarter")
      df_selection_2 = df_aggre_2.query("Year==@year & Quarter==@quarter")
      df_selection_3 = df_map_1.query("Year==@year & Quarter==@quarter")
      df_selection_4 = df_map_2.query("Year==@year & Quarter==@quarter")
      df_selection_5 = df_top_1.query("Year==@year & Quarter==@quarter")
      df_selection_6 = df_top_2.query("Year==@year & Quarter==@quarter")

    elif state and quarter:
      df_selection_1 = df_aggre_1.query("State==@state & Quarter==@quarter")
      df_selection_2 = df_aggre_2.query("State==@state & Quarter==@quarter")
      df_selection_3 = df_map_1.query("State==@state & Quarter==@quarter")
      df_selection_4 = df_map_2.query("State==@state & Quarter==@quarter")
      df_selection_5 = df_top_1.query("State==@state & Quarter==@quarter")
      df_selection_6 = df_top_2.query("State==@state & Quarter==@quarter")

    else:
      df_selection_1 = df_aggre_1
      df_selection_2 = df_aggre_2
      df_selection_3 = df_map_1
      df_selection_4 = df_map_2
      df_selection_5 = df_top_1
      df_selection_6 = df_top_2

    tot_count= int(df_selection_1["Transaction_count"].sum())
    avg_amount=round(df_selection_1["Transaction_amount"].mean(),2)
    reg_users= int(df_selection_4["RegisteredUsers"].sum())

    left_column,middle_column, right_column = st.columns(3)

    with left_column:
        st.write("Total Registered Users")
        st.write(reg_users)

    with middle_column:
        st.write("Total Transaction count")
        st.write(tot_count)

    with right_column:
        st.write("Avg Transaction amount")
        st.write(avg_amount)

    st.markdown("---")


    df_tran_type=(df_selection_1.groupby(by=["Transaction_type"]).sum()[['Transaction_count','Transaction_amount']])


#-----------plotting figures of home page--------

    fig_tran_type=px.bar(
                      df_tran_type,
                      x="Transaction_count",
                      y=df_tran_type.index,
                      orientation="h",
                      hover_data=["Transaction_amount"],
                      title="Total count of each Transaction type",
                      template="plotly_white",

                      width=500,
                      height=400


                      )
    df_brand=(df_selection_2.groupby(by=["Brand"]).sum()[['Count','Percent']])
    fig_brand=px.bar(
                      df_brand,
                      y="Count",
                      x=df_brand.index,
                      hover_data=["Percent"],
                      title="Total count to Device Brand",
                      template="plotly_white",

                      width=500,
                      height=400

                    )
    c1,c2=st.columns(2)

    c1.plotly_chart(fig_tran_type, use_container_width=True)
    c2.plotly_chart(fig_brand, use_container_width=True)


    #----------------Transaction type page---------


  elif choice=="Transaction type":

    tran_type= st.sidebar.selectbox("Select Transaction type:",
                              options=df_aggre_1["Transaction_type"].unique()
                              
                              )

    year= st.sidebar.selectbox("Select year:",
                              options=df_aggre_1["Year"].unique()
                              
                              )

    state= st.sidebar.selectbox("Select state:",
                              options=df_aggre_1["State"].unique()
                             
                              )

    quarter= st.sidebar.selectbox("Select quarter:",
                              options=df_aggre_1["Quarter"].unique()
                              
                              )

    if tran_type:
      st.subheader(tran_type)

      df_transaction = df_aggre_1.query("Transaction_type==@tran_type")
      df_year= (df_transaction.groupby(by=["Year"]).sum()[["Transaction_count","Transaction_amount"]])

      fig_year_tran=px.bar(df_year,
                       x=df_year.index,
                       y="Transaction_count",
                       hover_data=["Transaction_amount"],
                       title="Transaction count per year",
                       )

  
      df_state= (df_transaction.groupby(by=["State"]).sum()[["Transaction_count","Transaction_amount"]])
      fig_state_tran=px.bar(df_state,
                       x=df_state.index,
                       y="Transaction_count",
                       hover_data=["Transaction_amount"],
                       title="Transaction count per state",
                       )

      df_quarter= (df_transaction.groupby(by=["Quarter"]).sum()[["Transaction_count","Transaction_amount"]])
      fig_quarter_tran=px.pie(df_quarter,
                       names=df_quarter.index,
                       values="Transaction_count",
                       hover_data=["Transaction_amount"],
                       title="Transaction count per quarter",
                       )

      col1,col2,col3= st.columns(3)
      col1.plotly_chart(fig_year_tran,use_container_width=True)
      col2.plotly_chart(fig_state_tran,use_container_width=True)
      col3.plotly_chart(fig_quarter_tran,use_container_width=True)

      st.markdown("-----")

      if year and state and quarter:
        df_selection_1 = df_aggre_1.query("Year==@year & State==@state & Quarter==@quarter & Transaction_type==@tran_type")
        tot_count= int(df_selection_1["Transaction_count"].sum())
        avg_amount=round(df_selection_1["Transaction_amount"].mean(),2)

        c1,c2=st.columns(2)
        with c1:
          st.subheader("Total count")
          st.subheader(tot_count)

        with c2:
          st.subheader("Average Amount")
          st.subheader(avg_amount)


  #--------------Brand wise details------------



  elif choice=="Brand":
  
    brand= st.sidebar.selectbox("Select Phone brand:",
                              options=df_aggre_2["Brand"].unique()

                              )

    year= st.sidebar.selectbox("Select year:",
                              options=df_aggre_1["Year"].unique()
                              
                              )

    state= st.sidebar.selectbox("Select state:",
                              options=df_aggre_1["State"].unique()
                             
                              )

    quarter= st.sidebar.selectbox("Select quarter:",
                              options=df_aggre_1["Quarter"].unique()
                              
                              )

    if brand:
      st.subheader(brand)

      
      df_brand_1 = df_aggre_2.query("Brand==@brand")
      tot_count_1= int(df_brand_1["Count"].sum())

      if year and state and quarter:
            df_brand_a = df_aggre_2.query("Brand==@brand  & Year==@year & State==@state & Quarter==@quarter")
            tot_count= int(df_brand_a["Count"].sum())

      st.write(f"Total number of Transaction under {brand.upper()} is {tot_count_1}")

      st.write(f"Total number of Transaction in {state.upper()} in year {year} for quarter{quarter} is {tot_count}")

      df_year= (df_brand_1.groupby(by=["Year"]).sum()[["Count","Percent"]])

      fig_year_brand=px.bar(df_year,
                       x=df_year.index,
                       y="Count",
                       hover_data=["Percent"],
                       title="Transaction count per year",
                       )

      df_state_1=df_brand_1.query("Quarter==@quarter & Year==@year")
      df_state= (df_state_1.groupby(by=["State"]).sum()[["Count","Percent"]])
      fig_state_brand=px.pie(df_state,
                       names=df_state.index,
                       values="Count",
                       hover_data=["Percent"],
                       title="Transaction count per state",
                       )
      df_quarter_1=df_brand_1.query("State==@state & Year==@year")
      df_quarter= (df_quarter_1.groupby(by=["Quarter"]).sum()[["Count","Percent"]])
      fig_quarter_brand=px.bar(df_quarter,
                       x=df_quarter.index,
                       y="Count",
                       hover_data=["Percent"],
                       title="Transaction count per quarter",
                       )

      col1,col2= st.columns([1,3])
      col1.plotly_chart(fig_year_brand,use_container_width=True)
      col2.plotly_chart(fig_state_brand,use_container_width=True)
      st.markdown("----")
      st.plotly_chart(fig_quarter_brand,use_container_width=True)

      st.markdown("-----")
                             


  #--------------District wise details---------

  elif choice=="District level":          
    state=st.sidebar.selectbox("Select state:",
                                options=df_aggre_1["State"].unique()
                                
                                ) 

    df_selection_3 = df_map_1.query("State==@state")                   
    district=st.sidebar.selectbox("Select district:",
                              options=df_selection_3["District"].unique()
                              
                              )
    year= st.sidebar.selectbox("Select year:",
                              options=df_aggre_1["Year"].unique()
                              
                              )
    quarter= st.sidebar.selectbox("Select quarter:",
                              options=df_aggre_1["Quarter"].unique()
                              
                              )

    

    if district:
      st.subheader(district)
      df_user = df_map_2.query("District==@district")
      df_reg_user= (df_user.groupby(by=["Year"]).sum()[["RegisteredUsers","AppOpen"]])

      fig_reg_year=px.bar(df_reg_user,
                      x=df_reg_user.index,
                      y="RegisteredUsers",
                      template="plotly_white",
                      title="Registered Users per year"
                      )

      fig_app_year=px.bar(df_reg_user,
                      x=df_reg_user.index,
                      y="AppOpen",
                      template="plotly_white",
                      title="App Open per year"
                      )

      cola,colb=st.columns(2)
      cola.plotly_chart(fig_reg_year,use_container_width=True)
      colb.plotly_chart(fig_app_year,use_container_width=True)
      
      st.markdown("----")
      st.write(f"Total number of Transactions and Amount of  {district.upper()}  is given")
      st.write("Use filter for specific data")

      df_map_1a=df_map_1.query("Year==@year & State==@state & Quarter==@quarter & District==@district")
      dist_tran_count= int(df_map_1a["Transaction_count"].sum())
      dist_avg_amount=round(df_map_1a["Transaction_amount"].mean(),2)

      c1,c2=st.columns(2)
      with c1:
        st.subheader("Total count")
        st.subheader(dist_tran_count)
      with c2:
        st.subheader("Average Amount")
        st.subheader(dist_avg_amount)

  
  #-------------------City level layout-----------------
  
  
  else:

    state=st.sidebar.selectbox("Select state:",
                                options=df_aggre_1["State"].unique()
                                
                                ) 

    df_selection_3 = df_top_2.query("State==@state")                   
    entity=st.sidebar.selectbox("Select City/pincode:",
                              options=df_selection_3["Entity"].unique()
                              
                              )
    year= st.sidebar.selectbox("Select year:",
                              options=df_aggre_1["Year"].unique()
                              
                              )
    quarter= st.sidebar.selectbox("Select quarter:",
                              options=df_aggre_1["Quarter"].unique()
                              
                              )

    st.success("Since update still in progress details regarding all cities not available.")

    if entity:

     
      df_city_1= df_top_1.query("Entity==@entity")
      df_city_2= df_top_2.query("Entity==@entity")
      
      tot_reg = int(df_city_2["Registered_Users"].sum())
      tot_count= int(df_city_1["Transaction_count"].sum())
      avg_amount=round(df_city_1["Transaction_amount"].mean(),2)
      

      
      df_city_a = df_top_1.query("Year==@year & Entity==@entity")
      df_city_b = df_top_2.query("Year==@year & Entity==@entity")

      tot_reg_1 = int(df_city_b["Registered_Users"].sum())
      tot_count_1= int(df_city_a["Transaction_count"].sum())
      avg_amount_1=round(df_city_a["Transaction_amount"].mean(),2)

      c1,c2 = st.columns(2)
      with c1:
        st.subheader("Aggregated citywise data")
        st.write(f"Total no.of Registered users ={tot_reg} Nos")
        st.write(f"Total no.of Transaction ={tot_count} Nos")
        st.write(f"Average Transaction Amount ={avg_amount}INR")

      with c2:
        st.subheader(f"Data for year {year}")
        st.write(f"Total no.of Registered users ={tot_reg_1} Nos")
        st.write(f"Total no.of Transaction ={tot_count_1} Nos")
        st.write(f"Average Transaction Amount ={avg_amount_1}INR")

      st.markdown("----")

      df_city_year= (df_city_1.groupby(by=["Year"]).sum()[["Transaction_count","Transaction_amount"]])

      fig_year_city=px.line(df_city_year,
                       x=df_city_year.index,
                       y="Transaction_count",
                       hover_data=["Transaction_amount"],
                       title="Transaction count per year",
                       )

      df_city_quarter= (df_city_1.groupby(by=["Quarter"]).sum()[["Transaction_count","Transaction_amount"]])
      fig_quarter_city=px.bar(df_quarter_city,
                       x=df_quarter_city.index,
                       y="Transaction_count",
                       hover_data=["Percent"],
                       title="Transaction count per quarter",
                       )

      col1,col2=st.columns(2)
      col1.plotly_chart(fig_year_city,use_container_width=True)
      col2.plotly_chart(fig_quarter_city,use_container_width=True)

      df_city_user= (df_city_2.groupby(by=["Year"]).sum()[["Registered_Users"]])

      fig_city_user=px.pie(df_city_user,
                       names=df_city_user.index,
                       value="Registered_Users",
                       title="Users Registered each year ",
                       )

  st.sidebar.markdown("---")

if __name__=='__main__':
  main()

Overwriting app.py

In [187]:
!nohup streamlit run app.py --server.port 80 &
url = ngrok.connect(port = '80')
print(url)

nohup: appending output to 'nohup.out'
NgrokTunnel: "http://4ae0-34-80-148-45.ngrok.io" -> "http://localhost:80"