<a href="https://colab.research.google.com/github/LVaditya/turbo-broccoli/blob/main/scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install snscrape

In [ ]:
!pip install streamlit

In [ ]:
!pip install pyngrok

In [ ]:
from pymongo import MongoClient

In [ ]:
client= MongoClient('mongodb+srv://adityalv:aditya123@cluster0.jzsqwj1.mongodb.net/?retryWrites=true&w=majority')
db = client.test_database
collection=db.test_collection

In [ ]:
df.reset_index(inplace=True)
data_dict = df.to_dict("records")
data_dict

In [ ]:
collection.insert_many(data_dict)

In [ ]:
from pyngrok import ngrok

In [ ]:
import streamlit as st

In [ ]:
%%writefile app.py
import streamlit as st
import snscrape.modules.twitter as sntwitter
import datetime
from datetime import date 
import pandas as pd
from tqdm import tqdm
from pymongo import MongoClient


st.title("Twitter Data")
st.subheader("Enter the keyword and number of tweets you want")

with st.form(key='Twitter_form'):
  
  keyword= st.text_input('Keyword')
  from_date=st.date_input("From")
  till_date=st.date_input('Till')
  query=f'{keyword} since:{from_date} until:{till_date}'
  st.write(query)
  number= st.slider('no. of tweets',min_value=0, max_value=1000, step=50)
  submit= st.form_submit_button(label='search')

if submit:
  tweet_data=[]

  for i, tweets in enumerate(sntwitter.TwitterSearchScraper(queryb).get_items()):

    if i > number:
      break
    tweet_data.append([tweets.date, tweets.id, tweets.content, tweets.username, tweets.url, tweets.likeCount, tweets.replyCount, tweets.retweetCount, tweets.lang])

  df= pd.DataFrame(tweet_data,columns= ['Date','Id', 'Content', 'Username', 'url', 'LikeCount', 'ReplyCount', 'RetweetCount', 'Language'])

  st.write(df)
  
  df_csv= df.to_csv(f'{keyword} .csv', index=False, encoding= 'utf-8')
  df_json= df.to_json(f'{keyword} .json', orient='records')

  if st.button("upload"):
    client= MongoClient('mongodb+srv://adityalv:<aditya123>@cluster0.jzsqwj1.mongodb.net/?retryWrites=true&w=majority')
    db = client.twitter_scrape
    collection=db[keyword]

    df.reset_index(inplace=True)
    data_dict = df.to_dict("records")
    collection.insert_many(data_dict)

  st.download_button("download CSV",df.to_csv(),mime='text/csv')
  st.download_button("download JSON",df.to_json(),mime='application/json1')

Overwriting app.py

In [ ]:
ngrok.set_auth_token('2L6Kz7Hvawi3QB7akHGUu8CRsfi_5JPuFqERA67quEKGFuvaU')

In [ ]:
!nohup streamlit run app.py --server.port 80 &
url = ngrok.connect(port = '80')
print(url)

nohup: appending output to 'nohup.out'
NgrokTunnel: "http://9baf-35-229-63-166.ngrok.io" -> "http://localhost:80"

In [ ]:
!npm install -g localtunnel

/tools/node/bin/lt -> /tools/node/lib/node_modules/localtunnel/bin/lt.js
+ localtunnel@2.0.2
added 22 packages from 22 contributors in 1.711s

In [ ]:
!streamlit run twitterscrape.py & npx localtunnel --port 8501

In [ ]:
import datetime

In [ ]:
from datetime import date

In [ ]:
import calendar
print(calendar.calendar(2023))

                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [ ]:
today=datetime.date(2019,5,7)
today

datetime.date(2019, 5, 7)

In [ ]:
today.year

2019

In [ ]:
d1=datetime.date.today

In [ ]:
d1